<script type="text/javascript">
  if ('{{ ServerSucess }}' != 'False') {
    // 电影变化图
    if (typeof (chart_movie) != 'undefined')
      chart_movie.dispose();

    chart_movie = echarts.init($('#chart-movie-bg')[0], null, {
      height: 40.0
    });

    option_chart_movie = {
      animation: true,
      color: [
          tabler.getColor('primary')
      ],
      legend: {
        show: false,
      },
      grid: {
        left: 0,
        top: 0,
        right: 0,
        bottom: 2,
        containLabel: false
      },
      tooltip: {
        trigger: 'axis'
      },
      xAxis: {
        type: 'category',
        show: false,
        data: {{ MovieChartLabels| safe }}
      },
      yAxis: {show: false,},
      series: [{
        name: '电影',
        type: 'line',
        large: true,
        smooth: true,
        symbol: 'none',
        data: {{ MovieNums }}
      }]
    };
    chart_movie.setOption(option_chart_movie);

    // 电视剧变化图
    if (typeof (chart_tv) != 'undefined')
      chart_tv.dispose();

    chart_tv = echarts.init($('#chart-tv-bg')[0], null, {
      height: 40.0
    });

    option_chart_tv = {
      animation: true,
      color: [
          tabler.getColor('primary'),
        tabler.getColor('gray-600')
      ],
      legend: {
        show: false,
      },
      grid: {
        left: 0,
        top: 0,
        right: 0,
        bottom: 2,
